body{
  display: flex;
  flex-direction: column;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
  padding: 20px;
}

.site-footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(20, 18, 18, 0.5);
}

/* Menu */

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  background-color: rgba(20, 18, 18, 0.5);
  flex-wrap: wrap;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}
.nav-link {
  text-decoration: none;
  margin-right: 15px;
  color: black;
  &:hover,
  &:focus {
    color: white
  }
}