body{
  background: #081b29;
  color: #ededed;
  text-align: center;
}
 
 
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.site-content {
  flex: 1;
  padding: 20px;
}
 
.site-footer {
  text-align: center;
  padding: 20px 0;
  color:#ededed;
}
 
.table-container {
  display: flex;
  justify-content: center;
}
 
.timereport-image {
  max-width: 100%;
}

.timereport-container {
  display:inline-block;
  flex-wrap: wrap;
}

.timereport-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: left;
  width: 300px;
  text-align: center;
}
 
/* Login button */
 
.btn-box {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 21px;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
 
.btn-box:hover {
  color: #00abf0;
  cursor: pointer;
}
 
 
.btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}
 
.btn-box:hover::before {
  width: 100%;
}
 
/* Keyframes animation */
@keyframes showRight {
  100% {
    width: 0;
  }
}
 
@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}